<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ModPlusLanguageCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ModPlusLanguageCreator.Properties.Settings>
            <setting name="HotKeys_Translate" serializeAs="String">
                <value>T</value>
            </setting>
            <setting name="HotKeys_GoToAttribute" serializeAs="String">
                <value>B</value>
            </setting>
            <setting name="HotKeys_GoToItem" serializeAs="String">
                <value>I</value>
            </setting>
            <setting name="HotKeys_GoToSymbol" serializeAs="String">
                <value>S</value>
            </setting>
        </ModPlusLanguageCreator.Properties.Settings>
    </userSettings>
</configuration>